body{
    margin-top:20px;
}

#group_name {
    color: dimgrey;
    font-size: 1.5rem;
}

#edit_group{
    color: lightgrey;
}

#create_tab{
    color: dimgrey;
    font-size: 1.25rem
}

/* Comments */

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

/* Feed post */
.feed-post {
    width: 100%;
    margin: 5%;
    padding: 3%;
    background-color: #dddddd;
    border-radius: 8px;
}