{% extends 'base.html' %}
{% load static %}

{% block content %}
    {# Back to group button. #}
    <a href="{% url 'group_view' group.pk %}">
        <button class="btn btn-primary">Back</button>
    </a>

    {% if request.user.id == element.creator.id %}
        <a href="{% url 'delete_element_view' group.pk tab.pk element.pk %}">
            <button class="btn btn-danger">Delete post</button>
        </a>
        <a href="{% url 'update_element_view' group.pk tab.pk element.pk %}">
            <button class="btn btn-warning">Edit post</button>
        </a>
    {% endif %}

    <h2>
        {{ element.name }}
    </h2>

    <p>
        by <b><i>{{ element.creator.username }}</i></b> at <i>{{ element.created_date }}</i>
        <br>
        {% if element.last_edit_date %}
            last edit at <i>{{ element.last_edit_date }}</i>
        {% endif %}
    </p>

    <p>
        {{ element.text }}
    </p>

    {% if element.image %}
        <p><img src="{{ element.image.url }}"></p>
    {% endif %}

{% endblock %}