{% extends 'base.html' %}

{% block content %}
    {# Buttons #}
    {#  TODO: change for create element url  #}
    <a href="{% url 'index' %}">
        <button class="btn btn-primary mb-4">Create Element</button>
    </a>
    {% if tab.creator == user %}
        {#  TODO: change for edit tab url  #}
        <a href="{% url 'index' %}">
            <button class="btn btn-info ml-2 mb-4">Edit Tab</button>
        </a>
        <a href="{% url 'delete_tab' tab.id %}">
            <button class="btn btn-danger ml-2 mb-4">Delete Tab</button>
        </a>
    {% endif %}

    {# Collapsible elements #}
    <div id="accordion">
        {% for element in elements %}
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#{{ forloop.counter }}">
                        {{ element.name }}
                    </a>
                </div>
                <div id="{{ forloop.counter }}" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        {# Element's buttons #}
                        {% if element.creator == user %}
                            {# TODO: change index for edit element view #}
                            <a href="{% url 'index' %}">
                                <button class="btn btn-info ml-2 mb-4">Edit Element</button>
                            </a>
                            {# TODO: change index for delete element view #}
                            <a href="{% url 'index' %}">
                                <button class="btn btn-danger ml-2 mb-4">Delete Element</button>
                            </a>
                        {% endif %}

                        {# Element's creator #}
                        <div class="media-body">
                            {# TODO: take care of element's date published #}
                            {#                        <span class="text-muted pull-right">#}
                            {#                            <small class="text-muted">30 min ago</small>#}
                            {#                        </span>#}
                            <strong class="text-success">{{ element.creator.get_full_name }}</strong>
                        </div>

                        {# Element's text #}
                        {{ element.text }}

                        {# Element's image #}
                        <img style="max-width: 600px; height: auto"
                             src="{{ element.image }}"
                             class="img-fluid" alt="Responsive image">

                        {# Comments section #}
                        <div class="row bootstrap snippets mt-4">
                            <div class="col-md-6 col-md-offset-2 col-sm-12">
                                <div class="comment-wrapper">
                                    <div class="panel panel-info">
                                        <div class="panel-body">
                                            <textarea class="form-control" placeholder="write a comment..."
                                                      rows="3"></textarea>
                                            <br>
                                            <button type="button" class="btn btn-info pull-right">Add Comment</button>
                                            <div class="clearfix"></div>
                                            <hr>
                                            <ul class="media-list">
                                                {% for comment in comments %}
                                                    <li class="media">
                                                        <div class="media-body">
                                                            <span class="text-muted pull-right">
                                                                <small class="text-muted">{{ comment.date }}</small>
                                                            </span>
                                                            <strong class="text-success">{{ comment.creator }}</strong>
                                                            <p>
                                                                {{ comment.content }}
                                                            </p>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}