{% extends 'base.html' %}

{% block content %}
<div id="join-group">
    <h1>{{ group.name }}</h1>
    <div>
        <b>Description:</b> {{ group.description }}
    </div>

    <div>
        <b>Creator:</b> {{ group.creator.username }}
    </div>

    Would you like to join this group?
    <form action="{% url 'join_group_view' group.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Join</button>
        <a href="{% url 'my_groups_view' %}">
            <button class="btn btn-danger">Cancel</button>
        </a>
    </form>
</div>
{% endblock %}